@charset "EUC-KR";

@charset "utf-8";

@font-face {
	font-family: 'S-CoreDream-4Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	box-sizing: border-box;
  	list-style: none;
}
html{
	height: 100%;
}
body{
	margin: 0;
	height: 100%;
/*	padding: 20px;*/
}
.space{
	height:100px;	
}
.header {
	height: 150px;
	text-align: left;
	box-sizing: border-box;
	padding-bottom: 2.5rem;
	background-image: url("../images/header.png");
	padding-bottom: 20px;
	margin-bottom: 40px;
}

.header_logo h1 a {
	padding-top: 20px;
	padding-left: 40px;
	letter-spacing: 2px;
}

.header_gnb ul {
	margin-top: 5px;
	margin-right: 40px;
	text-align: right;
}

.header_gnb ul li {
	display: inline-block;
}

.header_gnb ul a {
	display: block;
	font-family: 'S-CoreDream-4Regular', sans-serif;
	color: #6b6c6f;
	margin: 0px 16px;
	letter-spacing: 1px;
}
