@charset "EUC-KR";

@font-face {
	font-family: "S-CoreDream-4Regular";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	color: black;
	font-family: "S-CoreDream-4Regular", sans-serif;
}

.header {
	height: 150px;
	text-align: left;
	box-sizing: border-box;
	margin-bottom: 40px;
	background-image: url("../images/headerr.png");
}

.header_logo h1 a {
	padding-top: 20px;
	padding-left: 40px;
	letter-spacing: 2px;
}

.header_gnb ul {
	margin-top: 5px;
	margin-right: 40px;
	text-align: right;
}

.header_gnb ul li {
	display: inline-block;
}

.header_gnb ul a {
	display: block;
	font-family: "S-CoreDream-4Regular", sans-serif;
	color: white;
	margin: 0px 16px;
	letter-spacing: 1px;
}

.main_content {
	height: 600px;
}

/* ★leni★ div 공간 잡기 */
.job_board_session{
    width: 70%;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.first {
    flex:0.4;
    box-sizing: border-box;
}

.second{
    flex: 1;
    margin-left: 5%;
    box-sizing: border-box;
}

ul {
	margin: 10px;
	margin-left: 20px;
}

.title input {
	width: 40rem;
	height: 2rem;
}

button {
	margin: 10px;
	width: 10rem;
	height: 2.5rem;
	border: 1px;
	border-radius: 12px;
	background-color: #FFCC79;
}

span {
	float: right;
}

textarea {
	margin-top: 10px;
}

.section {
	margin-top: 10px;
}

/* ★leni★ serch -> searchBox 로 이름 변경 */
.searchBox {
	border: 1px solid #3E3DB0;
}

.botton {
	margin: 10px;
}

/* ★leni★ 속성 수정 */
.list {
	margin: 5px;
}

.list table tr {
	margin-bottom: 10px;
}

.list table tr td {
	padding: 10px;
	border-bottom: 1px solid black;
	font-size: smaller;
}

/* ★leni★ job_title, job_time 추가 */
.list #job_location{
	width: 140px;
}
.list #job_title {
	width: 300px;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 300px;
	overflow: hidden;
	font-size: unset;
}

.list #job_time {
    text-align: center;
}

.hit {
	font-size: 12px;
}

.serch a {
	float: right;
	margin-right: 30px;
}

.button {
	float: right;
}

.space {
	height: 100px;
}

.footer {
	display: flex;
	background: #1f1f1f;
	padding: 30px;
}

#f_img {
	width: 100px;
	height: 100px;
}

.footer>div:first-child {
	flex: 3;
	text-align: center;
	color: #fff;
}

.footer>div:last-child {
	flex: 9;
	color: #fff;
}